<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<header>
  <%- include partials/_header.ejs %>
</header>
  <h4>Short URL: <a href='/u/<%= shortURL %>'>http://tiny.app/u/<%= shortURL %></a></h4>
  <form action="/urls/<%= shortURL %>" method="post">
    <label for="long-url-input">Long URL:</label>
      <input id="long-url-input" name="newLongUrl" value="<%= longURL %>"><br>
    <button>Update</button>
  </form>
  <p>Return to your saved URLS <a href='/urls'>here.</a></p>
</body>
</html>