<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<header>
<%- include partials/_header.ejs %>
</header>
  <h1>Short URL:</h1>

  <h2><a href='/u/<%= shortURL %>'>http://tiny.app/u/<%= shortURL %></a></h2>


  <form action="/urls/<%= shortURL %>" method="post">
    <p>
      <label for="long-url-input">long URL</label>
      <input id="long-url-input" name="newLongUrl" value="<%= longURL %>">
      <button>Update</button>
      <button>Delete</button>
  </form>
</body>
</html>